﻿<div class="maintag">
    <ul class="tga2">
        <li id="tabLi1" class="active"><a href="javascript:changeTab(1);">奖金明细</a></li>
        <li id="tabLi2"><a href="javascript:changeTab(2);">奖金合计</a></li>
    </ul>
</div>
<div class="contentbox" id="tabDiv1">
    <div class="operating">
        <div class="searchbox">
            <table style="width: 100%;">
                <tr>
                    <td style="text-align: center;">
                        <input type="text" class="searchtext searchtexth" id="userId" placeholder="会员编号" style="width: 100%" />
                    </td>
                    <td style="text-align: center; width: 18%">
                        <button class="operatebtn" id="searchBtn" style="width: 95%">搜索</button></td>
                    <td style="text-align: center; width: 18%">
                        <button class="operatebtn" id="clearQueryBtn" style="width: 98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>会员姓名</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="会员姓名" style="width: 98%" id="userName" />
                </dd>
            </dl>
            <dl id="datedl">
                <dt>结算日期</dt>
                <dd>
                    <table style="width: 100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left">
                                <input type="text" class="datebox" id="startTime" placeholder="开始日期" style="width: 100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right">
                                <input type="text" class="datebox" id="endTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <br />
           <button class="bigbtn" id="ExportExcel">导出Excel</button>
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="datalist" id="CurrencyUserdatalist">
        <ul id="CurrencyUseritemList"></ul>
    </div>
</div>
<div class="contentbox" id="tabDiv2" style="display: none;">
    <div class="datalist">
        <ul id="footerUl"></ul>
    </div>
</div>
