﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="hidden" id="flag" />
                        <input type="text" class="searchtext searchtexth" id="flagName" placeholder="状态" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>卖家编号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="卖家编号" style="width:98%" id="suserId" />
                </dd>
            </dl>
            <dl>
                <dt>购买日期</dt>
                <dd>
                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left"><input type="text" class="datebox" id="startTime" placeholder="开始日期" style="width:100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right"><input type="text" class="datebox" id="endTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>

        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="datalist" id="EpMyBuyerdatalist">
        <ul id="EpMyBuyeritemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">确定取消吗</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定取消</button>
        </div>
    </div>
</div>
