﻿<div class="entryinfo">
    <div class="bigtitle">
        <h2>登录参数</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            用户连续登录失败&nbsp;<input type="text" id="loginFailTimes" name="loginFailTimes" />&nbsp;次，将锁定&nbsp;
            <input type="text" id="loginLockTime" name="loginLockTime" />&nbsp;分钟
        </div>
    </div>
    <div class="bigtitle">
        <h2>注册参数</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        是否开通注册功能&nbsp;<input type="text" class="entrytxt" id="isRegister" name="isRegister" readonly value="是" />&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        是否开启短信验证&nbsp;<input type="text" class="entrytxt" id="isMobileMessage" name="isMobileMessage" readonly value="是" />&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        每单注册金额&nbsp;<input type="text" id="regPrice" name="regPrice" />&nbsp;&nbsp;
                        会员编号前缀&nbsp;<input type="text" id="userIdPrefix" name="userIdPrefix" />
                    </td>
                </tr>
                <tr>
                    <td>
                        默认登录密码&nbsp;<input type="text" id="loginPass" name="loginPass" />&nbsp;&nbsp;
                        默认安全密码&nbsp;<input type="text" id="passOpen" name="passOpen" />
                    </td>
                </tr>
                <tr>
                    <td>
                        默认交易密码&nbsp;<input type="text" id="threePass" name="threePass" />&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>报单中心</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        1、	向公司一次申购&nbsp;<input type="text"  id="shopPrice" name="shopPrice">&nbsp;电子币，
                        经后台审核通过即可，开通报单中心时，由系统自动返给报单中心相应的电子币；
                    </td>
                </tr>
                <tr>
                    <td> 2、后台手动把某个会员设置成为报单中心会员</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>会员级别</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>级别名称</th>
                        <th>晋升条件</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="middle">普卡</td>
                        <td>
                            1、	一次性投资&nbsp;<input type="text" id="upUlevel1" name="upUlevel1">&nbsp;单；<br />
                            2、	低级别会员补差额晋升；
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">银卡</td>
                        <td>
                            1、	一次性投资&nbsp;<input type="text" id="upUlevel2" name="upUlevel2">&nbsp;单；<br />
                            2、	低级别会员补差额晋升；
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">金卡</td>
                        <td>
                            1、	一次性投资&nbsp;<input type="text" id="upUlevel3" name="upUlevel3">&nbsp;单；<br />
                            2、	低级别会员补差额晋升；
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>荣誉级别</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>级别名称</th>
                        <th>晋升条件</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>主任</td>
                        <td>
                            自身累计直推人数>=&nbsp;<input type="text" class="form-control2" id="upRlevel1" name="upRlevel1">&nbsp;单；<br />
                        </td>
                    </tr>
                    <tr>
                        <td>经理</td>
                        <td>
                            自身累计直推人数>=&nbsp;<input type="text" class="form-control2" id="upRlevel2" name="upRlevel2">&nbsp;单；<br />
                        </td>
                    </tr>
                    <tr>
                        <td>高级经理</td>
                        <td>
                            自身累计直推人数>=&nbsp;<input type="text" class="form-control2" id="upRlevel3" name="upRlevel3">&nbsp;单；<br />
                        </td>
                    </tr>
                    <tr>
                        <td>总监</td>
                        <td>
                            自身累计直推人数>=&nbsp;<input type="text" class="form-control2" id="upRlevel4" name="upRlevel4">&nbsp;单；<br />
                        </td>
                    </tr>
                    <tr>
                        <td>总裁</td>
                        <td>
                            自身累计直推人数>=&nbsp;<input type="text" class="form-control2" id="upRlevel5" name="upRlevel5">&nbsp;单；<br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>报单费</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>新会员开通时，其所属报单中心可获得报单额的&nbsp;<input type="text" " id="bdfee" name="bdfee">&nbsp;%作为报单费</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>直推奖</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>新会员开通时，其推荐人（有推荐关系的）可获得其报单额的&nbsp;<input type="text" class="form-control2" id="ztfee" name="ztfee">&nbsp;%作为直推奖</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>层碰奖</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>当会员系谱图下线某1层的左、右业绩达1：1时，可获得这一层小区业绩的 &nbsp;<input type="text" class="form-control2" id="cpfee" name="cpfee">&nbsp;%作为层碰奖</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>对碰奖</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>会员根据自身级别不同，系谱图下线左、右区业绩达1：1时，即可获得小区业绩一定比例作为对碰奖</td>
                </tr>
            </table>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>会员级别</th>
                        <th>所得比例</th>
                        <th>每日封顶值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>普卡</td>
                        <td>
                            <input type="text" class="form-control2" id="dpfee1" name="dpfee1">&nbsp;%；<br />
                        </td>
                        <td>
                            <input type="text" class="form-control2" id="dpmax1" name="dpmax1">&nbsp;<br />
                        </td>
                    </tr>
                    <tr>
                        <td>银卡</td>
                        <td>
                            <input type="text" class="form-control2" id="dpfee2" name="dpfee2">&nbsp;%；<br />
                        </td>
                        <td>
                            <input type="text" class="form-control2" id="dpmax2" name="dpmax2">&nbsp;<br />
                        </td>
                    </tr>
                    <tr>
                        <td>金卡</td>
                        <td>
                            <input type="text" class="form-control2" id="dpfee3" name="dpfee3">&nbsp;%；<br />
                        </td>
                        <td>
                            <input type="text" class="form-control2" id="dpmax3" name="dpmax3">&nbsp;<br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>管理奖</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        会员可获得其直推图下线&nbsp;<input type="text" class="form-control2" id="gldai" name="gldai">&nbsp;代（有推荐关系的）下线会员所得
                        对碰奖收益 的&nbsp;<input type="text" class="form-control2" id="glfee" name="glfee">&nbsp;%作为管理奖
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>见点奖</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        会员可获得其系谱图下线的&nbsp;<input type="text" class="form-control2" id="jdceng" name="jdceng">&nbsp;层（无论是否有推荐关系）
                        见点&nbsp;<input type="text" class="form-control2" id="jdfee" name="jdfee">&nbsp;元作为见点奖
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>级差奖</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>新会员开通时，其上线会员根据自身荣誉级别不同，可获得新会员报单额的一定差额比例作为级差奖</td>
                </tr>
            </table>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>上级会员级别</th>
                        <th>所得比例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>主任</td>
                        <td><input type="text" class="form-control2" id="jcfee1" name="jcfee1">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>经理</td>
                        <td><input type="text" class="form-control2" id="jcfee2" name="jcfee2">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>高级经理</td>
                        <td><input type="text" class="form-control2" id="jcfee3" name="jcfee3">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>总监</td>
                        <td><input type="text" class="form-control2" id="jcfee4" name="jcfee4">&nbsp;%；</td>
                    </tr>
                    <tr>
                        <td>总裁</td>
                        <td><input type="text" class="form-control2" id="jcfee5" name="jcfee5">&nbsp;%；</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>EP交易</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        <table class="ntable">
                            <tr>
                                <td>
                                    1、奖金币可直接在平台上挂卖，交易成功后，收取卖方交易额&nbsp;<input type="text" class="form-control2" id="epsxf" name="epsxf">&nbsp;%的手续费
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2、&nbsp;<input type="text" class="form-control2" id="eptimeout" name="eptimeout">&nbsp;小时内未交易成功 的，将由平台直接以sysetm会员的身分自动接管全部买入
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3、购买&nbsp;<input type="text" class="form-control2" id="epQxHour" name="epQxHour">&nbsp;小时后才能取消买单
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4、&nbsp;<input type="text" class="form-control2" id="autoQxHour" name="autoQxHour">&nbsp;小时内未付款的买单将自动取消
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5、EP挂卖需是&nbsp;<input type="text" class="form-control2" id="epSaleBei" name="epSaleBei">&nbsp;的倍数
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>其他设置</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;padding-bottom:5rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        是否开通会员提现功能&nbsp;<input type="text" class="entrytxt" id="isMoney" name="isMoney" readonly value="是" />&nbsp;&nbsp;
                    </td>
                </tr>
                </tr>
                <tr>
                    <td>会员获得所有奖项收益时，自动扣除收益金额的&nbsp;<input type="text" class="form-control2" id="sui" name="sui">&nbsp;%作为所得税；</td>
                </tr>
                <tr>
                    <td>会员获得所有奖项收益时，自动扣除收益金额的&nbsp;<input type="text" class="form-control2" id="glsui" name="glsui">&nbsp;%作为管理费；</td>
                </tr>
                <tr>
                    <td>会员获得所有奖项收益时，自动扣除收益金额的&nbsp;<input type="text" class="form-control2" id="ftsui" name="ftsui">&nbsp;%进入复投币账户；</td>
                </tr>
                <tr>
                    <td>复投币每累计达&nbsp;<input type="text" class="form-control2" id="ftStartMOney" name="ftStartMOney">&nbsp;自动用于换购一个复投账户；</td>
                </tr>
                <tr>
                    <td>会员提现时要扣除&nbsp;<input type="text" class="form-control2" id="txfee" name="txfee">&nbsp;%的提现手续费；</td>
                </tr>
                <tr>
                    <td>
                        提现金额需>=&nbsp;<input type="text" class="form-control2" id="txmin" name="txmin">&nbsp;,
                        需是&nbsp;<input type="text" class="form-control2" id="txbei" name="txbei">&nbsp;的倍数；
                    </td>
                </tr>
                <tr>
                    <td>
                        转账金额需>=&nbsp;<input type="text" class="form-control2" id="transferMin" name="transferMin">&nbsp;，
                        需是&nbsp;<input type="text" class="form-control2" id="transferBei" name="transferBei">&nbsp;的倍数；
                    </td>
                </tr>
                <tr>
                    <td>
                        系谱图轨数&nbsp;<input type="text" class="form-control2" id="branchCount" name="branchCount">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="replybox">
        <ul class="tga1">
            <li style="text-align:center;"><button class="bigbtn" style="width:90%;" id="saveParamBtn">保存参数</button></li>
        </ul>
    </div>
</div>

<style type="text/css">
    input {
        color: red;
        height: 3rem;
        width: 6rem;
        padding: 0 0.5rem;
        box-sizing: border-box;
    }

    .ntable td {
        padding: 5px 5px 5px 5px;
        text-align: left;
    }
    tabel {
        border-spacing: 0;
        border-collapse: collapse;
    }
    table td {
        text-align: left;
    }
    table {
        max-width: 100%;
        background-color: transparent;
    }

    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #808080;
        text-align: left;
    }

    th {
        text-align: left;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
    }

        .table th,
        .table td {
            padding: 8px;
            line-height: 1.53846154;
            vertical-align: top;
            border-bottom: 1px solid #ddd;
            -webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
            -o-transition: background .2s cubic-bezier(.175, .885, .32, 1);
            transition: background .2s cubic-bezier(.175, .885, .32, 1);
        }

        .table > thead > tr > th {
            vertical-align: bottom;
            background-color: #f1f1f1;
            border-bottom: 1px solid #ddd;
        }

        .table > tbody + tbody {
            border-top: 2px solid #ddd;
        }

    .table-fixed {
        table-layout: fixed;
    }

        .table-fixed th,
        .table-fixed td {
            overflow: hidden;
            white-space: nowrap;
        }

        .table-fixed tfoot > tr > th,
        .table-fixed tfoot > tr > td,
        .table-fixed .nofixed,
        .table-fixed .nofixed {
            overflow: visible;
        }

    .table-borderless thead > tr > th,
    .table-borderless th,
    .table-borderless td {
        border: none;
    }

    .table-auto {
        width: auto;
        max-width: 100%;
    }

    .table-condensed th,
    .table-condensed td {
        padding: 5px;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #ddd;
        }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: #ebf2f9;
    }

    table col[class*="col-"] {
        display: table-column;
        float: none;
    }

    table td[class*="col-"],
    table th[class*="col-"] {
        display: table-cell;
        float: none;
    }

    .table tr > td.active,
    .table tr > th.active,
    .table tr.active > td,
    .table tr.active > th {
        background-color: #ffe7bc;
    }

    .table > thead > tr > td.success,
    .table > tbody > tr > td.success,
    .table > tfoot > tr > td.success,
    .table > thead > tr > th.success,
    .table > tbody > tr > th.success,
    .table > tfoot > tr > th.success,
    .table > thead > tr.success > td,
    .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td,
    .table > thead > tr.success > th,
    .table > tbody > tr.success > th,
    .table > tfoot > tr.success > th {
        background-color: #ddf4df;
        border-color: #bae8b6;
    }

    .table-hover > tbody > tr > td.success:hover,
    .table-hover > tbody > tr > th.success:hover,
    .table-hover > tbody > tr.success:hover > td,
    .table-hover > tbody > tr.success:hover > th {
        background-color: #caeecd;
        border-color: #a8e1a3;
    }

    .table > thead > tr > td.danger,
    .table > tbody > tr > td.danger,
    .table > tfoot > tr > td.danger,
    .table > thead > tr > th.danger,
    .table > tbody > tr > th.danger,
    .table > tfoot > tr > th.danger,
    .table > thead > tr.danger > td,
    .table > tbody > tr.danger > td,
    .table > tfoot > tr.danger > td,
    .table > thead > tr.danger > th,
    .table > tbody > tr.danger > th,
    .table > tfoot > tr.danger > th {
        background-color: #ffe5e0;
        border-color: #ffc6c7;
    }

    .table-hover > tbody > tr > td.danger:hover,
    .table-hover > tbody > tr > th.danger:hover,
    .table-hover > tbody > tr.danger:hover > td,
    .table-hover > tbody > tr.danger:hover > th {
        background-color: #ffd0c6;
        border-color: #ffadad;
    }

    .table > thead > tr > td.warning,
    .table > tbody > tr > td.warning,
    .table > tfoot > tr > td.warning,
    .table > thead > tr > th.warning,
    .table > tbody > tr > th.warning,
    .table > tfoot > tr > th.warning,
    .table > thead > tr.warning > td,
    .table > tbody > tr.warning > td,
    .table > tfoot > tr.warning > td,
    .table > thead > tr.warning > th,
    .table > tbody > tr.warning > th,
    .table > tfoot > tr.warning > th {
        background-color: #fff0d5;
        border-color: #ffdcbc;
    }

    .table-hover > tbody > tr > td.warning:hover,
    .table-hover > tbody > tr > th.warning:hover,
    .table-hover > tbody > tr.warning:hover > td,
    .table-hover > tbody > tr.warning:hover > th {
        background-color: #ffe7bc;
        border-color: #ffcea2;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    @media screen and (max-width: 767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd;
        }

            .table-responsive > .table {
                margin-bottom: 0;
            }

                .table-responsive > .table > thead > tr > th,
                .table-responsive > .table > tbody > tr > th,
                .table-responsive > .table > tfoot > tr > th,
                .table-responsive > .table > thead > tr > td,
                .table-responsive > .table > tbody > tr > td,
                .table-responsive > .table > tfoot > tr > td {
                    white-space: nowrap;
                }

            .table-responsive > .table-bordered {
                border: 0;
            }

                .table-responsive > .table-bordered th {
                    border-top: none;
                }

                .table-responsive > .table-bordered > thead > tr > th:first-child,
                .table-responsive > .table-bordered > tbody > tr > th:first-child,
                .table-responsive > .table-bordered > tfoot > tr > th:first-child,
                .table-responsive > .table-bordered > thead > tr > td:first-child,
                .table-responsive > .table-bordered > tbody > tr > td:first-child,
                .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                    border-left: 0;
                }

                .table-responsive > .table-bordered > thead > tr > th:last-child,
                .table-responsive > .table-bordered > tbody > tr > th:last-child,
                .table-responsive > .table-bordered > tfoot > tr > th:last-child,
                .table-responsive > .table-bordered > thead > tr > td:last-child,
                .table-responsive > .table-bordered > tbody > tr > td:last-child,
                .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                    border-right: 0;
                }

                .table-responsive > .table-bordered > tbody > tr:last-child > th,
                .table-responsive > .table-bordered > tfoot > tr:last-child > th,
                .table-responsive > .table-bordered > tbody > tr:last-child > td,
                .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                    border-bottom: 0;
                }
    }
</style>

