﻿<div class="contentbox" id="mainDiv">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="text" class="searchtext searchtexth" id="productCode2" placeholder="商品编码" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>商品名称</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="商品名称" style="width:98%" id="productName2" />
                </dd>
            </dl>
            <dl>
                <dt>是否上架</dt>
                <dd>
                    <input type="hidden" id="isShelve" />
                    <input type="text" class="searchtext" placeholder="是否上架" style="width:98%" id="isShelveName" readonly />
                </dd>
            </dl>
            <dl>
                <dt>发布日期</dt>
                <dd>
                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left"><input type="text" class="datebox" id="startTime" placeholder="开始日期" style="width:100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right"><input type="text" class="datebox" id="endTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>

        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="operation">
        <ul class="tga1">
            <li><button class="seditbtn" id="deployProduct">发布商品</button></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="datalist" id="Productdatalist">
        <ul id="ProductitemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">确定删除吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>
<div class="contentbox" id="deployDiv" style="display:none;">
    <div class="entryinfo">
        <input type="hidden" id="id"/>
        <input type="hidden" id="imgUrl" name="imgUrl" />
        <dl>
            <dt>
                商品图片
            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImg"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上传图片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFile" /></label>
                    </div>
                    <div class="clear"></div>
                    <!--<p class="tips">建议图片大小：400*400px</p>-->
                </div>
            </dd>
        </dl>
        <dl>
            <dt>商品编码</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="商品编码" id="productCode" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>商品名称</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="商品名称" id="productName" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>报单价</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="报单价" id="price" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>复消价</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="复消价" id="fxPrice" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <div style="width:98%;padding-left:1%;"><div id="editor" style="height:25rem;"></div></div>
    </div>
    <div class="operation">
        <ul class="tga2">
            <li><button class="seditbtn" id="closeDeployBtn">返回</button></li>
            <li><button class="smallbtn" id="saveProductBtn">保存</button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
