﻿<div class="entryinfo" id="setpTab1" style="padding-bottom: 5rem;">
    <input type="hidden" id="regMoney" />
    <input type="hidden" id="regNum" />
    <div class="userdltl" style="font-size: 1.6rem; color: #1483da; ">
        <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;登录资料
    </div>
    <dl>
        <dt>会员编号</dt>
        <dd>
            <table style="padding:0rem 1rem 0rem 10rem;">
                <tr>
                    <td style="font-size:1.4rem;" id="qzUserId"></td>
                    <td>
                        <input type="text" required="required" class="entrytxt" placeholder="请输入会员编号" style="padding:0 0 0 5px;" id="userId" name="userId" emptymsg="会员编码不能为空" />
                        <span class="erase"><i class="fa fa-times-circle-o"></i></span>
                    </td>
                </tr>
            </table>
        </dd>
    </dl>
    <dl>
        <dt>默认登录密码</dt>
        <dd>
            <p><span id="dfpass1"></span></p>
        </dd>
    </dl>
    <dl>
        <dt>登录密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt" placeholder="请输入登录密码" id="password" name="password" placeholder="密码" emptymsg="登录密码不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>确认密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt" placeholder="请确认确认密码" id="passwordRe" name="passwordRe" placeholder="密码" emptymsg="确认登录密码不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>默认安全密码</dt>
        <dd>
            <p><span id="dfpass2"></span></p>
        </dd>
    </dl>
    <dl>
        <dt>安全密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt" placeholder="请输入安全密码" id="passOpen" name="passOpen" placeholder="密码" emptymsg="安全密码不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>确认安全密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt" placeholder="请确认确认密码" id="passOpenRe" name="passOpenRe" placeholder="密码" emptymsg="确认安全密码不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>默认交易密码</dt>
        <dd>
            <p><span id="dfpass3"></span></p>
        </dd>
    </dl>
    <dl>
        <dt>交易密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt" placeholder="请输入交易密码" id="threepass" name="threepass" placeholder="密码" emptymsg="交易密码不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>确认交易密码</dt>
        <dd>
            <input type="password" required="required" class="entrytxt" placeholder="请确认确认密码" id="threepassRe" name="threepassRe" placeholder="密码" emptymsg="确认交易密码不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <div class="replybox">
        <ul class="tga1">
            <li>
                <button id="btnNext" class="bigbtn" onclick="step1To2()">下一步：填写网络资料</button>
                <button id="btnDisabled" class="bigbtn" disabled="disabled" style="width:100%;display:none;">注册功能暂未开放，敬请期待</button>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="entryinfo" id="setpTab2" style="display: none; padding-bottom: 5rem;">
    <div class="userdltl" style="font-size: 1.6rem; color: #1483da;">
        <i class="fa fa-podcast" aria-hidden="true"></i>&nbsp;网络资料
    </div>
    <dl>
        <dt>接点人编号</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" placeholder="请输入接点人编号" id="fatherName" name="fatherName" checkflag="2" emptymsg="接点人编号不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>接点人名称</dt>
        <dd>
            <p><span id="fatherName2"></span></p>
        </dd>
    </dl>

    <dl>
        <dt>放置区域</dt>
        <dd>
            <div class="option">
                <ul class="tga3">
                    <li class="active" id="treePlace1"><a href="javascript:checkedTreePlace(-1);">左区</a></li>
                    <li id="treePlace2"><a href="javascript:checkedTreePlace(1);">右区</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </dd>
    </dl>
    <dl>
        <dt>推荐人编号</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" placeholder="推荐人编号" id="reName" name="reName" checkflag="3" emptymsg="推荐人编号不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>推荐人姓名</dt>
        <dd>
            <p><span id="reName3"></span></p>
        </dd>
    </dl>
    <dl>
        <dt>报单中心编号</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" placeholder="请输入报单中心" id="shopName" name="shopName" checkflag="4" emptymsg="报单中心编号不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>报单中心名称</dt>
        <dd>
            <p><span id="shopName4"></span></p>
        </dd>
    </dl>
    <div class="replybox">
        <ul class="tga2">
            <li><button class="cancelbtn" onclick="back2To1()" style="width:90%;">上一步</button></li>
            <li>
                <button class="bigbtn" onclick="step2To3()" style="width:90%;">下一步：填写基础资料</button>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="entryinfo" id="setpTab3" style="display: none; padding-bottom: 5rem;">
    <div class="userdltl" style="font-size: 1.6rem; color: #1483da;">
        <i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;基础资料
    </div>
    <dl>
        <dt>真实姓名</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" placeholder="请输入真实姓名" id="userName" name="userName" emptymsg="真实姓名不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>身份证号码</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" placeholder="请输入身份证号码" id="code" name="code" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>手机号码</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" placeholder="请输入手机号码" id="phone" name="phone" emptymsg="手机号码不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl>
        <dt>省</dt>
        <dd>
            <input type="text" class="entrytxt area" id="province" name="province" placeholder="请选择省" readonly emptymsg="请选择省" />
        </dd>
    </dl>
    <dl>
        <dt>市</dt>
        <dd>
            <input type="text" class="entrytxt area" id="city" name="city" placeholder="请选择市" readonly emptymsg="请选择市" />
        </dd>
    </dl>
    <dl>
        <dt>区</dt>
        <dd>
            <input type="text" class="entrytxt area" id="area" name="area" />
        </dd>
    </dl>
    <dl>
        <dt>详细地址</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" placeholder="请输入详细地址" id="address" name="address" emptymsg="详细地址不能为空" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <!--<dl>
        <dt>QQ号码</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" placeholder="请输入QQ号码" id="qq" name="qq" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>-->
    <!-- <div class="userdltl" style="font-size: 1.6rem; color: #1483da;">
         <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;银行资料
     </div>
     <dl>
         <dt>开户行名称</dt>
         <dd>
             <input type="text" class="entrytxt" placeholder="请输入开户行名称" id="bankName" name="bankName" emptymsg="请选择开户行" readonly />
         </dd>
     </dl>
     <dl>
         <dt>开户支行名称</dt>
         <dd>
             <input type="text" required="required" class="entrytxt" id="bankAddress" name="bankAddress" placeholder="请输入开户支行名称" emptymsg="开户支行名称不能为空" />
             <span class="erase"><i class="fa fa-times-circle-o"></i></span>
         </dd>
     </dl>
     <dl>
         <dt>银行卡号</dt>
         <dd>
             <input type="text" required="required" class="entrytxt" placeholder="请输入银行卡号" id="bankCard" name="bankCard" emptymsg="银行卡号不能为空" />
             <span class="erase"><i class="fa fa-times-circle-o"></i></span>
         </dd>
     </dl>
     <dl>
         <dt>开户名</dt>
         <dd>
             <input type="text" required="required" class="entrytxt" placeholder="请输入开户名" id="bankUser" name="bankUser" emptymsg="开户名不能为空" />
             <span class="erase"><i class="fa fa-times-circle-o"></i></span>
         </dd>
     </dl>-->

    <dl>
        <dt></dt>
        <dd>
            <table>
                <tr>
                    <td><input type="checkbox" id="read" name="read" value="read" checked="checked" style="width:2rem;height:2rem;" />&nbsp;</td>
                    <td style="font-size:1.4rem;">我已阅读并同意</label><a href="javascript:openRegisterWin(1)" style="color:blue;">《注册协议》</a></td>
                </tr>
            </table>
        </dd>
    </dl>
    <div class="replybox">
        <ul class="tga2">
            <li><button class="cancelbtn" onclick="back3To2()" style="width:90%;">上一步</button></li>
            <li><button class="bigbtn" onclick="netProduct()" style="width:90%;">下一步：商品选购</button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<style type="text/css">
    .cont {
        font-size: 1.4rem;
        max-width: 100%;
        width: 100%;
        padding: 8px 8px 8px 8px;
        /*overflow-x: hidden;*/
        box-sizing: border-box;
        overflow-y: auto;
        padding-top: 10px;
        background-color: #fff;
    }

        .cont img {
            max-width: 100%;
        }

    .h1 {
        font-size: 2rem;
        text-align: center;
        font-weight: normal;
        margin-bottom: 1rem;
        color: #333;
        padding-left: 8px;
        padding-right: 8px;
    }
</style>

<div id="zcxydiv" style="display:none;">
    <div id="regContent" class="cont" style="padding-bottom:5rem;">

    </div>
    <div class="replybox">
        <ul class="tga2">
            <li><button class="cancelbtn" onclick="agreeRegister(0)" style="width:90%;">关闭</button></li>
            <li><button class="bigbtn" style="width:90%;" onclick="agreeRegister(1)">同意，并注册</button></li>
        </ul>
    </div>
</div>

<div id="productSelectDiv" style="display:none;">
    <div class="bigtitle">
        <h2>各级别投资金额：</h2>
        <div class="clear"></div>
    </div>
    <div class="entryinfo">
        <div class="leveldivision">
            <ul class="tga3">
                <li><i class="fa fa-credit-card levelgeneral"></i><br />普卡：<span id="pk">￥0 </span></li>
                <li><i class="fa fa-credit-card levelsilver"></i><br />银卡：<span id="yk">￥0 </span></li>
                <li><i class="fa fa-credit-card levelgold"></i><br />金卡：<span id="jk">￥0 </span></li>
            </ul>
            <div class="clear"></div>
        </div>
        <dl>
            <dt>订单总额</dt>
            <dd>
                <p><span id="totalMoney">0</span></p>
            </dd>
        </dl>
    </div>
    <div id="productData">
        <div class="cartlist cartlists" id="productDataList" style="padding-bottom:5rem;">
        </div>
    </div>
    <div class="replybox">
        <ul class="tga2">
            <li><button class="cancelbtn" onclick="prevProduct()" style="width:90%;">上一步</button></li>
            <li><button class="bigbtn" style="width:90%;" id="saveBtn">提交注册</button></li>
        </ul>
    </div>
</div>
