﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
            <h4 class="modal-title" id="editModalTitle">编辑记录</h4>
        </div>
        <div class="modal-body" id="editModalBody">
            <table>
                <tr>
                    <td>数据类型：</td>
                    <td><select class="form-control2" id="parent2" name="parent2"></select></td>
                    <td>&nbsp;&nbsp;名称：</td>
                    <td><input type="text" class="form-control2" id="name2" name="name2" /></td>
                    <td>&nbsp;&nbsp;描述：</td>
                    <td><input type="text" class="form-control2" id="remark2" name="remark2" /></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer" id="editModalFoot">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" id="editModalSaveBtn" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>