﻿
<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="">
                <form class="form-horizontal" id="registerForm">
                    <input type="hidden" id="regMoney" />
                    <input type="hidden" id="regNum" />
                    <hr/>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">会员编号</label>
                        <div class="col-sm-10">
                            <div class="input-group" style="width:100%;">
                                <span class="input-group-addon"  id="qzUserId" style="width:30px;"></span>
                                <input type="text" class="form-control" style="width:156px;" id="userId" name="userId" placeholder="电子邮件/手机号/用户名" checkflag="1" emptymsg="会员编码不能为空">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10" style="text-align:left;">
                        <div class="form-group">
                            <label for="exampleInputAddress1">默认密码：</label>
                            <label for="exampleInputAddress1" class="text-yellow" id="dfpass1"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">登录密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" style="width:200px;" id="password" name="password" placeholder="密码" emptymsg="登录密码不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">确认登录密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" style="width:200px;" id="passwordRe" name="passwordRe" placeholder="密码" emptymsg="确认登录密码不能为空">
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10" style="text-align:left;">
                        <div class="form-group">
                            <label for="exampleInputAddress1">默认密码：</label>
                            <label for="exampleInputAddress1" class="text-yellow" id="dfpass2"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">安全密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" style="width:200px;" id="passOpen" name="passOpen" placeholder="密码" emptymsg="安全密码不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">确认安全密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" style="width:200px;" id="passOpenRe" name="passOpenRe" placeholder="密码" emptymsg="确认安全密码不能为空">
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10" style="text-align:left;">
                        <div class="form-group">
                            <label for="exampleInputAddress1">默认密码：</label>
                            <label for="exampleInputAddress1" class="text-yellow" id="dfpass3"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">交易密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" style="width:200px;" id="threepass" name="threepass" placeholder="密码" emptymsg="交易密码不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">确认交易密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" style="width:200px;" id="threepassRe" name="threepassRe" placeholder="密码" emptymsg="确认交易密码不能为空">
                        </div>
                    </div>
                    <!--<label>网络资料</label>
                    <hr></hr>-->
                    <!--<div class="form-group">
                        <label for="exampleInputAddress1" class="col-sm-2 required">会员级别</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="uLevel" name="uLevel" emptymsg="请选择会员级别"></select>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="exampleInputAddress1">注册金额：</label>
                                <label for="exampleInputAddress1" class="text-yellow" id="regMoney">0</label>
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">接点人编号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fatherName" style="width:200px;" name="fatherName" checkflag="2" emptymsg="接点人编号不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">放置区域</label>
                        <div class="col-sm-10" style="text-align:left;">
                            <label class="radio-inline">
                                <input type="radio" id="treePlace1" name="treePlace" checked="checked" value="-1"> 左区
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="treePlace2" name="treePlace" value="1"> 右区
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">推荐人编号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" value="system" id="reName" name="reName" checkflag="3" emptymsg="推荐人编号不能为空">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">报单中心编号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shopName" style="width:200px;" value="system" name="shopName" checkflag="4" emptymsg="报单中心编号不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">真实姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" id="userName" name="userName" emptymsg="真实姓名不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2">身份证号码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" id="code" name="code">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">手机号码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" id="phone" name="phone" emptymsg="手机号码不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">省</label>
                        <div class="col-sm-10">
                            <select class="form-control" style="width:200px;" id="province" name="province" emptymsg="请选择省"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">市</label>
                        <div class="col-sm-10">
                            <select class="form-control" style="width:200px;" id="city" name="city" emptymsg="请选择市"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">区</label>
                        <div class="col-sm-10">
                            <select class="form-control" style="width:200px;" id="area" name="area" emptymsg="请选择区"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">详细地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" id="address" name="address" emptymsg="详细地址不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2">qq号码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" id="qq" name="qq">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">开户行名称</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="bankName" name="bankName" style="width:200px;" emptymsg="请选择开户行"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">开户支行名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" id="bankAddress" name="bankAddress" placeholder="开户支行名称" emptymsg="开户支行名称不能为空">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">银行卡号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" id="bankCard" name="bankCard" emptymsg="银行卡号不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4" class="col-sm-2 required">开户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" style="width:200px;" id="bankUser" name="bankUser" emptymsg="开户名不能为空">
                        </div>
                    </div>
                </form>
                <div style="padding-top:20px;padding-bottom:20px;">
                    <div class="col-sm-2">
                        <label for="exampleInputAddress1">各级别所需金额：</label>
                    </div>
                    <div class="col-sm-1">
                        <label for="exampleInputAddress1">普卡：</label>
                    </div>
                    <div class="col-sm-1">
                        <label for="exampleInputAddress1" class="text-yellow" id="pk">0</label>
                    </div>
                    <div class="col-sm-1">
                        <label for="exampleInputAddress1">银卡：</label>
                    </div>
                    <div class="col-sm-1">
                        <label for="exampleInputAddress1" class="text-yellow" id="yk">0</label>
                    </div>
                    <div class="col-sm-1">
                        <label for="exampleInputAddress1">金卡：</label>
                    </div>
                    <div class="col-sm-1">
                        <label for="exampleInputAddress1" class="text-yellow" id="jk">0</label>
                    </div>
                    <table id="dg" class="easyui-datagrid" style="width:100%;height:420px"></table>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4" class="col-sm-2">&nbsp;</label>
                    <div class="checkbox" style="text-align:left;">
                        <label>
                            <input type="checkbox" id="read" name="read" value="read" checked="checked"> 请您阅读<a href="javascript:void(0);" id="regModal">《注册协议》</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10" style="text-align:left;">
                        <button type="button" id="saveBtn" class="btn btn-warning ">提交信息</button>
                        <button id="btnDisabled" class="btn btn-warning" disabled="disabled" style="display:none;">注册功能暂未开放，敬请期待</button>
                    </div>
                </div>
                <hr />
                <br />
            </div>
        </div>
    </div>
</div>
<div id="regContent" class="easyui-dialog" title="注册协议" style="width:600px;height:400px;display:none;padding:20px;"
     data-options="resizable:true,modal:true">
</div>
