.icon-spinner-snake:before {
  content: '\e97b';
  }
.icon-spinner-indicator:before {
  content: '\e97c';
  }
.icon-spinner:before {
  content: '\e6eb';
  }
.icon-spin {
  display: inline-block;
  -webkit-animation: spin 2s infinite linear;
       -o-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
  }
a .icon-spin {
  display: inline-block;
  text-decoration: none;
  }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    }
  }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
    }
  100% {
    -o-transform: rotate(359deg);
       transform: rotate(359deg);
    }
  }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    }
  100% {
    -webkit-transform: rotate(359deg);
         -o-transform: rotate(359deg);
            transform: rotate(359deg);
    }
  }

.modal-open {
  overflow: hidden;
  }
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  }
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition: -webkit-transform .3s ease-out;
          transition:         transform .3s ease-out;
          transition:         transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
  }
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  }
.modal > .loader {
  display: none;
  }
.modal.modal-loading .modal-dialog {
  opacity: 0;
  }
.modal.modal-loading .loader {
  position: absolute;
  top: 35%;
  left: 50%;
  display: block;
  width: 80px;
  margin-left: -40px;
  font-size: 56px;
  color: #fff;
  text-align: center;
  }
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  }
.modal-iframe .modal-body > iframe {
  border-radius: 0 0 6px 6px;
  }
.modal-dialog {
  position: relative;
  width: auto;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  }
.modal-dialog.modal-moveable {
  position: absolute;
  margin: 0;
  }
.modal-dialog.modal-moveable .modal-header {
  cursor: move;
  }
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  }
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
  }
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
  }
.modal-header {
  min-height: 16.53846154px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  }
.modal-header .close {
  margin-top: -2px;
  }
.modal-title {
  margin: 0;
  line-height: 1.53846154;
  }
.modal-body {
  position: relative;
  padding: 15px;
  }
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  }
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
  }
.modal-footer .btn-group .btn + .btn,
.modal-footer .btn-group-vertical .btn + .btn {
  margin-left: -1px;
  }
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
  }
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
  }
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
  .modal-sm {
    width: 300px;
    }
  }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
    }
  }

.icon-remove:before {
  content: '\d7';
  }
.close {
  float: right;
  font-size: 19.5px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  }
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
  }
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  }

/* full screen modal */
.modal-fullscreen {
  position: relative;
  width: 100%!important;
  height: 100%!important;
  margin: 0;
  border-radius: 0;
  }
.modal-fullscreen .modal-body {
  position: absolute;
  top: 52px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  }

[data-toggle="lightbox"] {
  cursor: pointer;
  }
.modal-lightbox .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #353535;
  background-color: rgba(53, 53, 53, .2);
  filter: alpha(opacity=80);
  opacity: .8;
  -webkit-transition: opacity .2s cubic-bezier(.175, .885, .32, 1), background-color .2s cubic-bezier(.175, .885, .32, 1);
       -o-transition: opacity .2s cubic-bezier(.175, .885, .32, 1), background-color .2s cubic-bezier(.175, .885, .32, 1);
          transition: opacity .2s cubic-bezier(.175, .885, .32, 1), background-color .2s cubic-bezier(.175, .885, .32, 1);
  }
.modal-lightbox .controller {
  position: absolute;
  top: 0;
  display: none;
  height: 100%;
  padding: 0;
  line-height: 100%;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
       -o-transition: background .2s cubic-bezier(.175, .885, .32, 1);
          transition: background .2s cubic-bezier(.175, .885, .32, 1);
  }
.modal-lightbox .controller.show {
  display: block;
  }
.modal-lightbox .controller > .icon {
  display: inline-block;
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: transparent;
  -webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
       -o-transition: background .2s cubic-bezier(.175, .885, .32, 1);
          transition: background .2s cubic-bezier(.175, .885, .32, 1);
  }
.modal-lightbox .controller > .icon:before {
  font-size: 20px;
  }
.modal-lightbox .controller.prev {
  left: 0;
  }
.modal-lightbox .controller.next {
  right: 0;
  }
.modal-lightbox .modal-dialog {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all .4s cubic-bezier(.175, .885, .32, 1);
       -o-transition: all .4s cubic-bezier(.175, .885, .32, 1);
          transition: all .4s cubic-bezier(.175, .885, .32, 1);
  }
.modal-lightbox .modal-dialog:hover .close,
.modal-lightbox .modal-dialog:focus .close {
  background-color: rgba(53, 53, 53, .5);
  filter: alpha(opacity=100);
  opacity: 1;
  }
.modal-lightbox .modal-dialog:hover .close:hover,
.modal-lightbox .modal-dialog:focus .close:hover {
  background-color: rgba(53, 53, 53, .9);
  }
.modal-lightbox .modal-dialog:hover .controller > .icon,
.modal-lightbox .modal-dialog:focus .controller > .icon {
  text-shadow: none;
  background-color: #353535;
  background-color: rgba(53, 53, 53, .5);
  }
.modal-lightbox .modal-dialog:hover .controller:hover > .icon,
.modal-lightbox .modal-dialog:focus .controller:hover > .icon {
  background-color: #353535;
  background-color: rgba(53, 53, 53, .9);
  }
.modal-lightbox .caption {
  display: none;
  }
.modal-lightbox.lightbox-with-caption .caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  background: rgba(0, 0, 0, .15);
  opacity: .5;
  -webkit-transition: all .4s cubic-bezier(.175, .885, .32, 1);
       -o-transition: all .4s cubic-bezier(.175, .885, .32, 1);
          transition: all .4s cubic-bezier(.175, .885, .32, 1);
  }
.modal-lightbox.lightbox-with-caption .modal-dialog:hover .caption {
  background: rgba(0, 0, 0, .6);
  opacity: 1;
  }
.lightbox-img {
  display: block;
  width: inherit;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  -webkit-transition: all .4s cubic-bezier(.175, .885, .32, 1);
       -o-transition: all .4s cubic-bezier(.175, .885, .32, 1);
          transition: all .4s cubic-bezier(.175, .885, .32, 1);
  }



.messager {
  display: table;
  margin: 10px;
  overflow: hidden;
  color: #fff;
  pointer-events: auto;
  background-color: #353535;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 20px;
  }
.messager-content {
  display: table-cell;
  padding: 10px 15px;
  vertical-align: top;
  font-size:1.4rem;
  }
.messager-content > [class^='icon-'] {
  display: inline-block;
  margin-right: 8px;
  }
.messager-actions {
  display: table-cell;
  vertical-align: middle;
  }
.messager-actions > .action {
  min-width: 40px;
  height: 40px;
  padding: 0 12px;
  color: #fafafa;
  color: rgba(255, 255, 255, .6);
  text-align: center;
  text-shadow: none;
  background: none;
  border: none;
  }
.messager-actions > .action.close {
  padding-bottom: 5px;
  font-size: 1.4rem;
  font-weight: normal;
  opacity: 1;
  }
.messager-actions > .action:hover {
  color: #fff;
  background: rgba(0, 0, 0, .1);
  }
.messager-actions .action-icon + .action-text {
  margin-left: 8px;
  }
.messagers-holder {
  position: fixed;
  z-index: 99999;
  padding: 10px;
  pointer-events: none;
  -webkit-transition: top .2s cubic-bezier(.175, .885, .32, 1);
       -o-transition: top .2s cubic-bezier(.175, .885, .32, 1);
          transition: top .2s cubic-bezier(.175, .885, .32, 1);
  }
.messagers-holder.top {
  top: 0;
  }
.messagers-holder.top-left {
  top: 0;
  left: 0;
  }
.messagers-holder.top-right {
  top: 0;
  right: 0;
  }
.messagers-holder.bottom {
  bottom: 0;
  }
.messagers-holder.bottom-left {
  bottom: 0;
  left: 0;
  }
.messagers-holder.bottom-right {
  right: 0;
  bottom: 0;
  }
.messagers-holder.top-right .messager,
.messagers-holder.bottom-right .messager {
  margin-left: auto;
  }
.messagers-holder.center {
  top: 0;
  }
.messagers-holder.top,
.messagers-holder.bottom,
.messagers-holder.center {
  right: 0;
  left: 0;
  }
.messagers-holder.top .messager,
.messagers-holder.bottom .messager,
.messagers-holder.center .messager {
  margin: 10px auto;
  }
.messager-primary {
  background-color: #3280fc;
  }
.messager-success {
  background-color: #38b03f;
  }
.messager-info {
  background-color: #03b8cf;
  }
.messager-warning {
  background-color: #f1a325;
  }
.messager-danger {
  background-color: #ea644a;
  }
.messager-important {
  background-color: #bd7b46;
  }
.messager-special {
  background-color: #8666b8;
  }
.status-success{
    color: #38b03f;
    font-weight: bold;
}
.status-red{
    font-weight: bold;
    color: #ea644a;
}



.col,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  }
.col,
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
  }
.col-xs-1 {
  width: 8.33333333%;
  }
.col-xs-2 {
  width: 16.66666667%;
  }
.col-xs-3 {
  width: 25%;
  }
.col-xs-4 {
  width: 33.33333333%;
  }
.col-xs-5 {
  width: 41.66666667%;
  }
.col-xs-6 {
  width: 50%;
  }
.col-xs-7 {
  width: 58.33333333%;
  }
.col-xs-8 {
  width: 66.66666667%;
  }
.col-xs-9 {
  width: 75%;
  }
.col-xs-10 {
  width: 83.33333333%;
  }
.col-xs-11 {
  width: 91.66666667%;
  }
.col-xs-12 {
  width: 100%;
  }
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
    }
  .col-sm-1 {
    width: 8.33333333%;
    }
  .col-sm-2 {
    width: 16.66666667%;
    }
  .col-sm-3 {
    width: 25%;
    }
  .col-sm-4 {
    width: 33.33333333%;
    }
  .col-sm-5 {
    width: 41.66666667%;
    }
  .col-sm-6 {
    width: 50%;
    }
  .col-sm-7 {
    width: 58.33333333%;
    }
  .col-sm-8 {
    width: 66.66666667%;
    }
  .col-sm-9 {
    width: 75%;
    }
  .col-sm-10 {
    width: 83.33333333%;
    }
  .col-sm-11 {
    width: 91.66666667%;
    }
  .col-sm-12 {
    width: 100%;
    }
  .col-sm-push-1 {
    left: 8.33333333%;
    }
  .col-sm-push-2 {
    left: 16.66666667%;
    }
  .col-sm-push-3 {
    left: 25%;
    }
  .col-sm-push-4 {
    left: 33.33333333%;
    }
  .col-sm-push-5 {
    left: 41.66666667%;
    }
  .col-sm-push-6 {
    left: 50%;
    }
  .col-sm-push-7 {
    left: 58.33333333%;
    }
  .col-sm-push-8 {
    left: 66.66666667%;
    }
  .col-sm-push-9 {
    left: 75%;
    }
  .col-sm-push-10 {
    left: 83.33333333%;
    }
  .col-sm-push-11 {
    left: 91.66666667%;
    }
  .col-sm-pull-1 {
    right: 8.33333333%;
    }
  .col-sm-pull-2 {
    right: 16.66666667%;
    }
  .col-sm-pull-3 {
    right: 25%;
    }
  .col-sm-pull-4 {
    right: 33.33333333%;
    }
  .col-sm-pull-5 {
    right: 41.66666667%;
    }
  .col-sm-pull-6 {
    right: 50%;
    }
  .col-sm-pull-7 {
    right: 58.33333333%;
    }
  .col-sm-pull-8 {
    right: 66.66666667%;
    }
  .col-sm-pull-9 {
    right: 75%;
    }
  .col-sm-pull-10 {
    right: 83.33333333%;
    }
  .col-sm-pull-11 {
    right: 91.66666667%;
    }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
    }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
    }
  .col-sm-offset-3 {
    margin-left: 25%;
    }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
    }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
    }
  .col-sm-offset-6 {
    margin-left: 50%;
    }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
    }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
    }
  .col-sm-offset-9 {
    margin-left: 75%;
    }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
    }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
    }
  }
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
    }
  .col-md-1 {
    width: 8.33333333%;
    }
  .col-md-2 {
    width: 16.66666667%;
    }
  .col-md-3 {
    width: 25%;
    }
  .col-md-4 {
    width: 33.33333333%;
    }
  .col-md-5 {
    width: 41.66666667%;
    }
  .col-md-6 {
    width: 50%;
    }
  .col-md-7 {
    width: 58.33333333%;
    }
  .col-md-8 {
    width: 66.66666667%;
    }
  .col-md-9 {
    width: 75%;
    }
  .col-md-10 {
    width: 83.33333333%;
    }
  .col-md-11 {
    width: 91.66666667%;
    }
  .col-md-12 {
    width: 100%;
    }
  .col-md-push-0 {
    left: auto;
    }
  .col-md-push-1 {
    left: 8.33333333%;
    }
  .col-md-push-2 {
    left: 16.66666667%;
    }
  .col-md-push-3 {
    left: 25%;
    }
  .col-md-push-4 {
    left: 33.33333333%;
    }
  .col-md-push-5 {
    left: 41.66666667%;
    }
  .col-md-push-6 {
    left: 50%;
    }
  .col-md-push-7 {
    left: 58.33333333%;
    }
  .col-md-push-8 {
    left: 66.66666667%;
    }
  .col-md-push-9 {
    left: 75%;
    }
  .col-md-push-10 {
    left: 83.33333333%;
    }
  .col-md-push-11 {
    left: 91.66666667%;
    }
  .col-md-pull-0 {
    right: auto;
    }
  .col-md-pull-1 {
    right: 8.33333333%;
    }
  .col-md-pull-2 {
    right: 16.66666667%;
    }
  .col-md-pull-3 {
    right: 25%;
    }
  .col-md-pull-4 {
    right: 33.33333333%;
    }
  .col-md-pull-5 {
    right: 41.66666667%;
    }
  .col-md-pull-6 {
    right: 50%;
    }
  .col-md-pull-7 {
    right: 58.33333333%;
    }
  .col-md-pull-8 {
    right: 66.66666667%;
    }
  .col-md-pull-9 {
    right: 75%;
    }
  .col-md-pull-10 {
    right: 83.33333333%;
    }
  .col-md-pull-11 {
    right: 91.66666667%;
    }
  .col-md-offset-0 {
    margin-left: 0;
    }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
    }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
    }
  .col-md-offset-3 {
    margin-left: 25%;
    }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
    }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
    }
  .col-md-offset-6 {
    margin-left: 50%;
    }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
    }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
    }
  .col-md-offset-9 {
    margin-left: 75%;
    }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
    }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
    }
  }
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
    }
  .col-lg-1 {
    width: 8.33333333%;
    }
  .col-lg-2 {
    width: 16.66666667%;
    }
  .col-lg-3 {
    width: 25%;
    }
  .col-lg-4 {
    width: 33.33333333%;
    }
  .col-lg-5 {
    width: 41.66666667%;
    }
  .col-lg-6 {
    width: 50%;
    }
  .col-lg-7 {
    width: 58.33333333%;
    }
  .col-lg-8 {
    width: 66.66666667%;
    }
  .col-lg-9 {
    width: 75%;
    }
  .col-lg-10 {
    width: 83.33333333%;
    }
  .col-lg-11 {
    width: 91.66666667%;
    }
  .col-lg-12 {
    width: 100%;
    }
  .col-lg-push-0 {
    left: auto;
    }
  .col-lg-push-1 {
    left: 8.33333333%;
    }
  .col-lg-push-2 {
    left: 16.66666667%;
    }
  .col-lg-push-3 {
    left: 25%;
    }
  .col-lg-push-4 {
    left: 33.33333333%;
    }
  .col-lg-push-5 {
    left: 41.66666667%;
    }
  .col-lg-push-6 {
    left: 50%;
    }
  .col-lg-push-7 {
    left: 58.33333333%;
    }
  .col-lg-push-8 {
    left: 66.66666667%;
    }
  .col-lg-push-9 {
    left: 75%;
    }
  .col-lg-push-10 {
    left: 83.33333333%;
    }
  .col-lg-push-11 {
    left: 91.66666667%;
    }
  .col-lg-pull-0 {
    right: auto;
    }
  .col-lg-pull-1 {
    right: 8.33333333%;
    }
  .col-lg-pull-2 {
    right: 16.66666667%;
    }
  .col-lg-pull-3 {
    right: 25%;
    }
  .col-lg-pull-4 {
    right: 33.33333333%;
    }
  .col-lg-pull-5 {
    right: 41.66666667%;
    }
  .col-lg-pull-6 {
    right: 50%;
    }
  .col-lg-pull-7 {
    right: 58.33333333%;
    }
  .col-lg-pull-8 {
    right: 66.66666667%;
    }
  .col-lg-pull-9 {
    right: 75%;
    }
  .col-lg-pull-10 {
    right: 83.33333333%;
    }
  .col-lg-pull-11 {
    right: 91.66666667%;
    }
  .col-lg-offset-0 {
    margin-left: 0;
    }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
    }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
    }
  .col-lg-offset-3 {
    margin-left: 25%;
    }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
    }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
    }
  .col-lg-offset-6 {
    margin-left: 50%;
    }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
    }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
    }
  .col-lg-offset-9 {
    margin-left: 75%;
    }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
    }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
    }
  }