﻿<div class="banner">
    <div class="main_visual">
        <div class="flickingbox">
            <div class="flicking_con">
                <a class=""></a>
                <a class="on"></a>
                <a class=""></a>
                <a class=""></a>
                <a class=""></a>
                <a class=""></a>
            </div>
        </div>
        <div class="main_image">
            <ul id="slides">
            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>
        </div>
    </div>
</div>

<div class="mainuser">
    <div class="title">
        <h2><span id="userId">会员编号</span>&nbsp;<span id="hyn">欢迎您！</span></h2>
        <h5><a href="#fenxiang"><img src="/Content/APP/User/images/iconshare.png" /></a></h5>
        <div class="clear"></div>
    </div>
    <div class="avatar">
        <img src="/Content/APP/User/images/logo2.png" />
        <div class="level" id="uLevel">会员等级</div>
    </div>
    <div class="assets">
        <ul class="tga2">
            <li><span id="agentJj">451321.00</span><p id="jjb">奖金币</p></li>
            <li><span id="agentDz">984.00</span><p id="dzb">电子币</p></li>
            <li><span id="agentGw">45748.00</span><p id="gwb">购物币</p></li>
            <li><span id="agentFt">58451.00</span><p id="fxb">复消币</p></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div class="applink">
    <ul class="tga4">
        <li><a href="#UserRegister"><img src="/Content/APP/User/images/iconapp1.png" /><p>会员注册</p></a></li>
        <li><a href="#UDirectTree"><img src="/Content/APP/User/images/iconapp6.png" /><p>直推图</p></a></li>
        <li><a href="#UFamilyTree"><img src="/Content/APP/User/images/iconapp8.png" /><p>系谱图</p></a></li>
        <li><a href="#UShoppingCart"><img src="/Content/APP/User/images/iconapp4.png" /><p>购物车</p></a></li>
        <li><a href="#UCharge"><img src="/Content/APP/User/images/iconapp2.png" /><p>账户充值</p></a></li>
        <li><a href="#UCurrency"><img src="/Content/APP/User/images/iconapp3.png" /><p>奖金查询</p></a></li>
        <li onclick="ShowTakeCash()"><img src="/Content/APP/User/images/iconapp5.png" /><p style="color:#333;">会员提现</p></li>
        <li><a href="javascript:void(0);" id="exitSystem"><img src="/Content/APP/User/images/iconapp9.png" /><p>安全退出</p></a></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="newslist">
    <ul id="newsItem">
        <!--<li><a href="新闻详细.html">热烈祝贺会员管理系统上线，注册会员送888元新人礼包</a><time>2017/11/02 08:00</time></li>
        <li><a href="新闻详细.html">会员管理系统内测，推荐新人可获得188元推荐礼包</a><time>2017/11/02 08:00</time></li>
        <li><a href="新闻详细.html">系统升级，暂停服务，带来不变请谅解</a><time>2017/11/02 08:00</time></li>
        <li><a href="新闻详细.html">政府新闻发布会指定会员管理系统为高新科技产品</a><time>2017/11/02 08:00</time></li>-->
    </ul>

</div>
<input type="hidden" id="bankName" />
<input type="hidden" id="bankCard" />
<input type="hidden" id="bankUser" />
<input type="hidden" id="bankAddress" />
<!--确认提示框-->
<div class="promptbg" style="z-index:9000; color:#fff;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">您确定退出登录吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="waitThing_Txdz" style="padding:30px; margin-bottom:0; display:none;">
            <div class="tipslistbox">
                <div class="tipslisttl" style="    font-size: 1.3rem;  line-height: 2.4rem;  border-bottom: solid 0.1rem #272624; color:#333;  margin-bottom: 0.6rem;">待处理事项：</div>
                <div class="tipslist">
                    <p style="    color: #52c1fb;  font-size: 1.3rem;  line-height: 1.8rem;">请先完善银行信息</p>  <a style="color:#52c1fb" href="#UMemberInfo">马上完善</a>
                </div>
            </div>
        </div>
        <div class="btnbox" id="btnbox" style="padding:30px;display:block;">
            <button class="smallbtn" id="sureBtn">确定退出</button>
        </div>
    </div>
</div>


