﻿
<div class="navicon">
    <ul class="tga3" id="messageCenteritemCont">
        <!--<li id="UWealthscheme"><a href="#UWealthscheme"><i class="fa fa-trophy" aria-hidden="true"></i><p>财富方案</p></a></li>
        <li id="UArticle"><a href="#UArticle"><i class="fa fa-globe" aria-hidden="true"></i><p>公告信息</p></a></li>
        <li id="UEmailBox"><a href="#UEmailBox"><i class="fa fa-envelope" aria-hidden="true"></i><p>邮件中心</p><span>9</span></a></li>-->
    </ul>
    <div class="clear"></div>
</div>
<div class="newslist" id="UAricledatalist">
    <ul id="UAricleitemList"></ul>
</div>
