﻿<div class="entryinfo" id="agentForm" style="display:none">
    <dl>
        <dt>报单编号</dt>
        <dd>
            <p><span id="shopName"></span></p>
        </dd>
    </dl>
    <dl>
        <dt>汇款金额</dt>
        <dd>
            <p id="mmy"></p>
        </dd>
    </dl>

    <div class="btnbox" id="agent0" style="display:none">
        <div class="btnbox">
            <ul class="tga1">
                <!--<li><button class="cancelbtn">返回</button></li>-->
                <li><button class="bigbtn" id="saveBtn">提交申请</button></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="btnbox" id="agent1" style="display:none">
        <div class="btnbox">
            <ul class="tga1">
                <li style="font-size: 2.1rem; color: #f1a325;">申请中,请等待管理员审核 ...</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="promptbox" id="agent2" style="display:none">
    <div class="promptcont">
        <div class="prompticon">
            <i class="fa fa-diamond"></i>
        </div>
        <div class="prompttext">
            <h2 id="shopName2"></h2>
            <p>报单中心编号</p>
        </div>
    </div>
</div>

<!--确认提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">申请确认</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="datalist" id="prompCont">
            <ul>
                <li>
                    <dl>
                        <dt>报单中心编号</dt>
                        <dd><span id="bdzxbh">0</span></dd>
                    </dl>

                    <dl>
                        <dt>汇款金额</dt>
                        <dd><span id="hkje">0</span>&nbsp;元</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="btnbox">
            <button class="greenBtn" id="sureBtn">确定申请</button>
        </div>
    </div>
</div>
