﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="hidden" id="flag" />
                        <input type="text" class="searchtext" placeholder="状态" id="flagName" readonly style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>购买类型</dt>
                <dd>
                    <input type="hidden" id="typeId" />
                    <input type="text" class="searchtext" placeholder="" id="typeIdName" style="width:100%" readonly />
                </dd>
            </dl>
            <dl>
                <dt>买家编码</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="userId" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>卖家编码</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="suserId" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>操作人</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="opUserId" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>批量单号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="batchNumber" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>买入单号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="number" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>挂卖单号</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="" id="snumber" style="width:100%" />
                </dd>
            </dl>
            <dl>
                <dt>购买日期</dt>
                <dd>
                    <div class="seatatebox">
                        <input type="text" class="datebox" id="startTime" style="width:45%" /><span>至</span><input type="text" class="datebox" id="endTime" style="width:45%" />
                    </div><div class="clear">
                    </div>
                </dd>
            </dl>
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="operation">
        <ul class="tga2">
            <li><label><input class="operationche" type="checkbox" id="checkAllBtn" />全选</label></li>
            <li><button class="seditbtn" id="batchPayBtn">批量付款</button></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="datalist operationlist" id="UEpBuyRecorddatalist">
        <ul id="UEpBuyRecorditemList"></ul>
    </div>
</div>

<!--确认提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="dialogTitle">您确定收到款项吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="datalist">
            <!--<ul>
                <li>
                    <dl>
                        <dt>挂卖单号</dt>
                        <dd><span id="gmdh">0</span></dd>
                    </dl>
                    <dl>
                        <dt>买单单号</dt>
                        <dd><span id="mddh">0</span></dd>
                    </dl>
                    <dl>
                        <dt>购买数量</dt>
                        <dd><span id="gmsl">0</span></dd>
                    </dl>
                    <dl>
                        <dt>应付金额</dt>
                        <dd><span id="yfje">0</span></dd>
                    </dl>
                </li>
            </ul>-->
        </div>
        <div class="btnbox">
            <button class="smallbtn" id="sureBtn">确认收款</button>
        </div>
    </div>
</div>

