﻿<div id="lemeinfo">
    <input type="hidden" id="id" name="id" />
    <div class="entryinfo">
        <dl>
            <dt>选择语言</dt>
            <dd>
                <input type="hidden" id="lanagerValue" />
                <input type="text" class="entrytxt area" id="lanagerList" name="province" placeholder="选择语言" readonly emptymsg="选择语言" />
            </dd>
        </dl>
        <div class="btnbox">
            <div class="btnbox">
                <ul class="tga1">
                    <li><button class="bigbtn" id="saveBtn">保存</button></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>