﻿<div class="maintag">
    <ul class="tga2">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">会员提现</a></li>
        <li id="tabBtn2"><a href="javascript:tabClick(2);" id="tabA2">提现明细</a></li>
    </ul>
</div>
<div id="detailTab1">
    <div class="entryinfo">
        <dl>
            <dt>奖金币</dt>
            <dd>
                <p><span id="agentJj"></span></p>
            </dd>
        </dl>
        <dl>
            <dt>提现金额</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="epoints" placeholder="请输入提现金额" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>实际金额</dt>
            <dd>
                <p><span id="agentsj"></span></p>
            </dd>
        </dl>

        <div class="btnbox">
            <button class="smallbtn" id="saveBtn" style="display:block;">提交申请</button>
            <button class="smallbtn" id="saveBtnDisabled" style="display:none;" disabled="disabled">暂未开放，敬请期待！</button>

        </div>

    </div>
</div>

<div id="detailTab2" style="display:none;">
    <div class="datalist" id="TakeCashDatalist">
        <ul id="TakeCashItemList"></ul>
    </div>
</div>

    <!--确认提示框-->
    <div class="promptbg" style="z-index:9000;">
        <div class="promptbgbox">
            <header>
                <div class="">
                    <i class="backicon"></i>
                    <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                    <h2>提现详情</h2>
                </div>
                <div class="clear"></div>
            </header>
            <div class="datalist">
                <ul>
                    <li>
                        <dl>
                            <dt>提现金额</dt>
                            <dd><span id="txje">0</span>&nbsp;元</dd>
                        </dl>

                        <dl>
                            <dt>实际金额</dt>
                            <dd><span id="sjje">0</span>&nbsp;元</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="btnbox">
                <button class="smallbtn" id="sureBtn">确定提现</button>
            </div>
        </div>
    </div>
