﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%:ViewData["sitename"]%></title>

</head>
<body>
    <div class="header">
        <div class="pull-left">
            <img class="lf" src="/Content/images/logo.png" />
        </div>
        <div class="pull-right text-gray headertext">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="mainnav">
        <div class="menu2">
            <div id="nav">
                <ul id="menuUl">
                </ul>
                <div class="cl"></div>
            </div>
        </div>
    </div>
    <div id="center">
        <div class="w1000">
            <div class="bodyM">
                <div class="orderr">
                    <div class="orderrtl">
                        <ol class="breadcrumb text-gray">
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                    <div class="">
                        <form class="form-horizontal" id="registerForm">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-tab href="javascript:void(0);">登录资料</a></li>
                            </ul>
                            <input type="hidden" id="regMoney" />
                            <input type="hidden" id="regNum" />
                            <div class="form-group" style="padding-top: 8px;">
                                <label for="exampleInputAccount4" class="col-sm-2 required">会员编号</label>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="qzUserId"><%:ViewData["userIdPrefix"]%></span>
                                        <input type="text" class="form-control" onblur="changtxt();" id="userId" name="userId" placeholder="电子邮件/手机号/用户名" checkflag="1" emptymsg="会员编码不能为空">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">登录密码</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="登录密码" emptymsg="登录密码不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">确认登录密码</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" id="passwordRe" name="passwordRe" placeholder="确认登录密码" emptymsg="确认登录密码不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">安全密码</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" id="passOpen" name="passOpen" placeholder="安全密码" emptymsg="安全密码不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">确认安全密码</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" id="passOpenRe" name="passOpenRe" placeholder="确认安全密码" emptymsg="确认安全密码不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">交易密码</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" id="threepass" name="threepass" placeholder="交易密码" emptymsg="交易密码不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">确认交易密码</label>
                                <div class="col-sm-3">
                                    <input type="password" class="form-control" id="threepassRe" name="threepassRe" placeholder="确认交易密码" emptymsg="确认交易密码不能为空">
                                </div>
                            </div>
                            <%--<div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">接点人编号</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="fatherName" name="fatherName" checkflag="2" emptymsg="接点人编号不能为空">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-2 required">放置区域</label>
                        <div class="col-sm-3">
                            <label class="radio-inline">
                                <input type="radio" id="treePlace1" name="treePlace" checked="checked" value="-1"> 左区
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="treePlace2" name="treePlace" value="1"> 右区
                            </label>
                        </div>
                    </div>--%>
                            <div class="form-group">
                                <label for="exampleInputAccount4" class="col-sm-2">推荐人编号</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="reName" name="reName" value="<%:ViewData["reName"]%>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">报单中心编号</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="shopName" name="shopName" value="<%:ViewData["shopName"]%>" checkflag="4" emptymsg="报单中心编号不能为空">
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-tab href="javascript:void(0);">基本资料</a></li>
                            </ul>
                            <div class="form-group" style="padding-top: 8px;">
                                <label for="exampleInputAccount4" class="col-sm-2 required">真实姓名</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="userName" name="userName" emptymsg="真实姓名不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2">身份证号码</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="code" name="code">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">手机号码</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="phone" name="phone" emptymsg="手机号码不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">省</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="province" name="province" emptymsg="请选择省"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">市</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="city" name="city" emptymsg="请选择市"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">区</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="area" name="area"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">详细地址</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="address" name="address" emptymsg="详细地址不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2">qq号码</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="qq" name="qq">
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-tab href="javascript:void(0);">银行资料</a></li>
                            </ul>
                            <div class="form-group" style="padding-top: 8px;">
                                <label for="exampleInputAccount4" class="col-sm-2 required">开户行名称</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="bankName" name="bankName" emptymsg="请选择开户行">
                                    </select>
                                </div>
                                <label for="exampleInputPassword4" class="col-sm-2 required">开户支行名称</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="bankAddress" name="bankAddress" placeholder="开户支行名称" emptymsg="开户支行名称不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">银行卡号</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="bankCard" name="bankCard" emptymsg="银行卡号不能为空">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2 required">开户名</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="bankUser" name="bankUser" emptymsg="开户名不能为空">
                                </div>
                            </div>
                        </form>
                        <div style="padding-top: 20px; padding-bottom: 20px;">
                            <div class="col-sm-2">
                                <label for="exampleInputAddress1">各级别所需金额：</label>
                            </div>
                            <div class="col-sm-1">
                                <label for="exampleInputAddress1">普卡：</label>
                            </div>
                            <div class="col-sm-1">
                                <label for="exampleInputAddress1" class="text-yellow" id="pk"><%:ViewData["pk"]%></label>
                            </div>
                            <div class="col-sm-1">
                                <label for="exampleInputAddress1">银卡：</label>
                            </div>
                            <div class="col-sm-1">
                                <label for="exampleInputAddress1" class="text-yellow" id="yk"><%:ViewData["yk"]%></label>
                            </div>
                            <div class="col-sm-1">
                                <label for="exampleInputAddress1">金卡：</label>
                            </div>
                            <div class="col-sm-1">
                                <label for="exampleInputAddress1" class="text-yellow" id="jk"><%:ViewData["jk"]%></label>
                            </div>
                            <table id="dg" class="easyui-datagrid" style="width: 100%; height: 420px"></table>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4" class="col-sm-2">&nbsp;</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="read" name="read" value="read">
                                    请您阅读<a href="javascript:void(0);" id="regModal">《注册协议》</a>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="saveBtn" class="btn btn-warning ">提交信息</button>
                                <button id="btnDisabled" class="btn btn-warning" disabled="disabled" style="width:100%;display:none;">注册功能暂未开放，敬请期待</button>
                            </div>
                        </div>

                        <br />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="cl"></div>

            <div id="regContent" title="注册协议" style="width: 600px; height: 400px; display: none; padding: 20px;"
                data-options="resizable:true,modal:true">
                <%:ViewData["zcxy"]%>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="ifooter">
        <div class="">
            <p><%:ViewData["copyright"]%></p>
            <div class="clear"></div>
        </div>
    </div>

    <%--<div class="clearfix"></div>
    <div class="ifooter">
        <div class="">
            <p><%:ViewData["copyright"]%></p>

            <div class="clear"></div>
        </div>
    </div>--%>
</body>
</html>
<script data-main="/Content/tg/tgReg.js" src="/Content/js/require.js" id="main"></script>
<link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    function changtxt() {
        //过滤特殊字符
        this.CheckSpecialCharacters = function (str) {
            var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>《》/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？]");
            var rs = "";
            for (var i = 0; i < str.length; i++) {
                rs =
                rs + str.substr(i, 1).replace(pattern, '');
            }
            return rs;
        }

        if ($("#userId").val() != 0) {
            var usercode = CheckSpecialCharacters($("#userId").val());
            $("#userId").val(usercode);
        }
    }

    $.ajax({
        url: "/Home/IsRegister",// 请求网址
        type: 'POST',
        success: function (result) {
            if (result == "否") {
                $("#saveBtn").hide();
                $("#btnDisabled").show();
            } else {
                $("#saveBtn").show();
                $("#btnDisabled").hide();
            }
        }
    });
</script>