﻿<div class="">
    <div class="center-block tipsbox">

        <div class="tipscontbox">
            <div class="tipsiconbox">
                <i class="icon icon-frown"></i>
            </div>
            <h2>404</h2>
            <h3>您访问的页面不知道去哪里了……</h3>
            <p><a href="#main">返回首页</a></p>

        </div>
    </div>
</div>