﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">信息管理</a></li>
                    <li><a href="#UArticle">公告信息</a></li>
                    <li class="active">文章内容</li>
                </ol>
                <div class="clearfix"></div>
            </div>

            <div class="">
                <hr />
                <article class="article">
                    <header>
                        <h1 class="text-center" id="title">HTML5</h1>
                        <dl class="dl-inline">
                            <!--<dt>来源：</dt>-->
                            <!--<dd>维基百科</dd>-->
                            <dt>发布时间：</dt>
                            <dd id="addTime">2016年8月12日 (星期五) 12:53</dd>
                            <dt></dt>
                            <!--<dd class="pull-right"><span class="label label-success">HTML</span> <span class="label label-warning">网页设计</span> <span class="label label-info">W3C</span> <span class="label label-danger"><i class="icon-eye-open"></i> 235</span></dd>-->
                        </dl>
                        <!--<section class="abstract">
                            <p><strong>摘要：</strong>HTML5是HTML最新的修订版本，2014年10月由万维网联盟（W3C）完成标准制定。目标是替换1999年所制定的HTML 4.01和XHTML 1.0标准，以期能在互联网应用迅速发展的时候，使网络标准达到匹配当代的网络需求。广义论及HTML5时，实际指的是包括HTML、CSS和JavaScript在内的一套技术组合。</p>
                        </section>-->
                    </header>
                    <section class="content" id="cont">
                    </section>
                    <footer>
                        
                    </footer>
                </article>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="cl"></div>

</div>
